<!DOCTYPE html>
<html>
  <head>
    <title>Ametros</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <style>
      @page {
          size: A4;
          margin: 11mm 17mm 0 17mm;
      }
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          page-break-inside: avoid;
          page-break-after: avoid;
          page-break-before: avoid;
      }
      @font-face {
          font-family: 'muliblack';
          src: url(<%= wicked_pdf_asset_path('fonts/muli-black-webfont.woff2') %>) format('woff2'),
              url(<%= wicked_pdf_asset_path('fonts/muli-black-webfont.woff') %>) format('woff');
          font-weight: normal;
          font-style: normal;
      }

      @font-face {
          font-family: 'mulibold';
          src: url(<%= wicked_pdf_asset_path('fonts/muli-bold-webfont.woff2') %>) format('woff2'),
              url(<%= wicked_pdf_asset_path('fonts/muli-bold-webfont.woff') %>) format('woff');
          font-weight: normal;
          font-style: normal;
      }

      @font-face {
          font-family: 'muliextrabold';
          src: url(<%= wicked_pdf_asset_path('fonts/muli-extrabold-webfont.woff2') %>) format('woff2'),
              url(<%= wicked_pdf_asset_path('fonts/muli-extrabold-webfont.woff') %>) format('woff');
          font-weight: normal;
          font-style: normal;
      }
      @font-face {
          font-family: 'mulisemibold';
          src: url(<%= wicked_pdf_asset_path('fonts/muli-semibold-webfont.woff2') %>) format('woff2'),
              url(<%= wicked_pdf_asset_path('fonts/muli-semibold-webfont.woff') %>) format('woff');
          font-weight: normal;
          font-style: normal;
      }
      @font-face {
          font-family: 'muliregular';
          src: url(<%= wicked_pdf_asset_path('fonts/muli-webfont.woff2') %>) format('woff2'),
              url(<%= wicked_pdf_asset_path('fonts/muli-webfont.woff') %>) format('woff');
          font-weight: normal;
          font-style: normal;
      }
      @font-face {
          font-family: 'mulilight';
          src: url(<%= wicked_pdf_asset_path('fonts/muli-light-webfont.woff2') %>) format('woff2'),
              url(<%= wicked_pdf_asset_path('fonts/muli-light-webfont.woff') %>) format('woff');
          font-weight: normal;
          font-style: normal;
      }

      @font-face {
          font-family: 'mulimedium';
          src: url(<%= wicked_pdf_asset_path('fonts/muli-medium-webfont.woff2') %>) format('woff2'),
              url(<%= wicked_pdf_asset_path('fonts/muli-medium-webfont.woff') %>) format('woff');
          font-weight: normal;
          font-style: normal;
      }
      body {
          font-family: 'mulilight';
          color: black;
          font-size: 16px;
      }
      .container {
          width: 100%;
      }
      .logo {
          width: 100%;
          text-align: right;
      }
      .logo img {
          outline: 0;
      }
      h1 {
          font-family: 'muliblack';
          font-size: 40px;
          line-height: 100%;
          margin: 30px 0;
      }
      h2 {
          font-family: 'muliextrabold';
          font-size: 20px;
          margin: 50px 0 10px;
      }
      h3 {
          font-family: 'muliextrabold';
          font-size: 20px;
      }
      h4 {
          font-family: 'muliregular';
          font-size: 16px;
          margin: 0 0 5px;
      }
      h5 {
          font-size: 16px;
          font-family: 'mulisemibold';
          margin: 14px 0 0;
      }
      .row {
          padding: 40px 0;
          border-bottom: #eaeaea 1px solid;
      }
      .row:last-child {
          border-bottom: 0;
      }
      .item {
          overflow: hidden;
          margin: 20px 0 0;
      }
      .item-image {
          float: left;
          width: 53px;
          height: 53px;
          margin: 0 15px 0 0;
      }
      .item-image img {
          max-width: 100%;
      }
      .item-content {
          float: left;
          margin: 3px 0 0;
          width: calc(100% - 68px);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="logo">
          <%= wicked_pdf_image_tag "images/ametros-logo.png", alt: "Ametros"  %>
        </div>
        <% evaluations_lists = @json_data[:data]
           missing_icon = wicked_pdf_asset_path('images/missed-icon.png')
        %>
        <h1>Final Feedback</h1>
        <%#= @json_data[:name] %>
        <p><%= @json_data[:final_debrief_overview] %></p>
        <h2>Here is your performance in this Module</h2>
        <% evaluations_lists.each do |evaluations_list| %>
          <div class="row">
            <h3><%= evaluations_list[:name] %></h3>
            <% case evaluations_list[:card_type]
               when 'quiz' %>
              <div class="item">
                <% assesement = evaluations_list[:assesement] %>
                <div class="item-image">
                  <% if assesement && assesement['attributes']['assessment_icon_url']  %>
                    <%= wicked_pdf_image_tag assesement['attributes']['assessment_icon_url']&.gsub("https", "http") %>
                  <% end %>
                </div>
                <div class="item-content">
                  <h4><%= assesement && assesement['attributes']['assessment_label'] %></h4>
                  <p><%= evaluations_list[:overall_score] %></p>
                  <p><%= assesement && assesement['attributes']['feedback']&.html_safe %></p>
                </div>
              </div>

            <% when 'chat' %>
              <% if evaluations_list[:assesement].present? %>
                <% assesement = evaluations_list[:assesement] %>
                <div class="item-image">
                  <% if assesement['attributes']['assessment_icon_url']  %>
                    <%= wicked_pdf_image_tag assesement['attributes']['assessment_icon_url']&.gsub("https", "http") %>
                  <% end %>
                </div>
                <div class="item-content">
                  <h4><%= assesement['attributes']['assessment_label'] %></h4>
                  <p><%= assesement['attributes']['feedback']&.html_safe %></p>
                </div>
              <% elsif evaluations_list[:data].present?
                   evaluations = evaluations_list[:data]['attributes']['chat_debrief_evaluations']
                   evaluations.each do |evaluation|
                    attributes = evaluation['attributes']
                    %>
                    <div class="item">
                      <div class="item-image">
                        <% if assesement['attributes']['assessment_icon_url']  %>
                          <%= wicked_pdf_image_tag (attributes['assessment_icon_url']&.gsub("https", "http") || missing_icon) %>
                        <% end %>
                      </div>
                      <div class="item-content">
                        <h4><%= attributes['chat_skill_name'] %></h4>
                        <p><%= attributes['debrief_received']&.html_safe %></p>
                      </div>
                    </div>
                   <% end %>
              <% end %>

            <% when 'email' %>
              <% if evaluations_list[:assesement].present? %>
                <% assesement = evaluations_list[:assesement] %>
                <div class="item-image">
                  <% if assesement['attributes']['assessment_icon_url']  %>
                    <%= wicked_pdf_image_tag assesement['attributes']['assessment_icon_url']&.gsub("https", "http") %>
                  <% end %>
                </div>
                <div class="item-content">
                  <h4><%= assesement['attributes']['assessment_label'] %></h4>
                  <p><%= assesement['attributes']['feedback']&.html_safe %></p>
                </div>
              <% elsif evaluations_list[:data].present?
                   evaluations = evaluations_list[:data]['attributes']['user_email_assessment_items']
                   evaluations.each do |evaluation|
                    attributes = evaluation['attributes']
                    assessment_ob = attributes['email_assessment_item']['attributes']
               %>
                    <div class="item">
                      <div class="item-image">
                        <% if assessment_ob && assessment_ob['assessment_icon_url']  %>
                          <%= wicked_pdf_image_tag (assessment_ob['assessment_icon_url']&.gsub("https", "http") || missing_icon) %>
                        <% end %>
                      </div>
                      <div class="item-content">
                        <h4><%= attributes['global_skill']['name'] %></h4>
                        <p><%= attributes['debrief_content']&.html_safe %></p>
                      </div>
                    </div>
                   <% end %>
              <% end %>

            <% when 'dialogic' %>

              <% if evaluations_list[:assesement].present? %>
                <% assesement = evaluations_list[:assesement] %>
                <div class="item-image">
                  <% if assesement['attributes']['assessment_icon_url']  %>
                    <%= wicked_pdf_image_tag assesement['attributes']['assessment_icon_url']&.gsub("https", "http") %>
                  <% end %>
                </div>
                <div class="item-content">
                  <h4><%= assesement['attributes']['assessment_label'] %></h4>
                  <p><%= assesement['attributes']['feedback']&.html_safe %></p>
                </div>
              <% elsif evaluations_list[:data].present?
                   eval_pair = evaluations_list[:data]['attributes']['dialogic_debrief_evaluation']
                   eval_pair.each do |key, evaluations|
               %>
                  <div>
                    <h5> <%= evaluations[0]['attributes']['question_concept'] %> </h5>
                    <% evaluations.each do |evaluation|
                       attributes = evaluation['attributes']
                    %>
                    <div class="item">
                      <div class="item-image">
                        <% if attributes['assessment_icon_url']  %>
                          <%= wicked_pdf_image_tag (attributes['assessment_icon_url']&.gsub("https", "http") || missing_icon) %>
                        <% end %>
                      </div>
                      <div class="item-content">
                        <h4><%= attributes['topic_name'] %></h4>
                        <p><%= attributes['debrief_received']&.html_safe %></p>
                      </div>
                    </div>
                   <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>

